@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

#HeroImg{
    width: 100%;
    object-fit: cover;
}
#Hero{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10px;
}
#Hero h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    hyphens: auto;
    overflow-wrap: break-word;
}
#Hero p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    max-width: 57ch;
}
#Hero .blueButton{
    margin-top: 0.8rem;
    float: right;
}
#imgWrapper{
    display: block;
    position: relative;
    width: clamp(200px, 50%, 70vw);
    box-sizing: border-box;
    clip-path: inset(0);
    overflow: hidden;
}
#imgWrapper::after{
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #fafafa, transparent);
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
}
#TextLogo{
    max-height: 50px;
    object-fit: contain;
}
#left{
    padding:0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
}
.Banner{
    background-image: linear-gradient(90deg, #003d91, #8dadff);
    padding: 10px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: top;
    overflow: visible;
}
.Banner a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
}
.Banner:has(a:focus-visible){
    filter: brightness(1.1);
    outline: 2px solid #000;
    outline-offset: -5px;
}
.Banner img{
    object-fit: contain;
    width: clamp(80px, 10%, 400px);
    transform: scale(150%) translateX(-15%);
    max-width: 25vw;
    border-radius: 100vmax;
    box-shadow: 0px 0px 10px 0px #00000042;
}
.Banner h2{
    font-size: clamp(10px, 1.5rem, 6vw);
}
.Banner h3{
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-size: clamp(10px, 2rem, 12vw);
    font-style: normal;
}
.Banner p{
    color: var(--side-txt);
    font-weight: 600;
    margin-left: clamp(4px,0.8rem, 2vw);
    font-size: clamp(5px,0.85rem, 3vw);
    width: clamp(0px, 200px, 20vw);
}
#BannerInfo{
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
    text-shadow: 0 0 3px #00000099;
}


.InfoCards{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto 15px;
    gap: 20px;
    padding: 15px 0 15px 15px;
}
.InfoCards > div:not(:last-child) {border-right: #bcbcbc 1px solid;}
.InfoCards > div p {
    margin: 15px 0;
}
.InfoCards > div h2{
    width: 100%;
}
.InfoCards > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    margin: 0 auto;
    min-width: clamp(0px, 250px, 95vw);
}
.InfoCards > div .secondaryButton{
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
   #Hero{
    flex-direction: column-reverse;
   }
   #imgWrapper::after{
    background: linear-gradient(0deg, var(--body-color), transparent);
    left: 0;
    top: unset;
    bottom: 0;
    width: 100%;
    height: 40%;
   }
   #imgWrapper{
    width: 100%;
   }
}