nav.mainNav {
    padding:10px;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    position: sticky;
    top:0;
    z-index: 15;
    isolation: isolate;
    background: var(--semi-transparent-bg);
    justify-content: space-between;
    border-bottom: 1.5px solid #0000001f;
  }
nav.mainNav, nav.mainNav ul.mainNav {
  list-style: none;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
nav.mainNav ul.mainNav:has(li:hover:not(.logotype)) li:not(.logotype):not(:hover){
  opacity: 0.7;
  transition: opacity 200ms transform 200ms;
}

nav.mainNav ul.mainNav li{
  transition: transform 200ms;
}

nav.mainNav ul.mainNav:hover li:hover{
  opacity: 1;
}

nav.mainNav ul.mainNav li:active{
   transform: scale(0.9);
}

nav.mainNav ul.mainNav li a:not(:has(img)){
    text-decoration: none;
    color: #000;
    font-weight: 500;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 5px;
    font-size: 1rem;
    outline: none;
  }
  nav.mainNav ul.mainNav li.logotype a, nav.mainNav a.logotype{
    height: 2rem;
    display: block;
    border-radius: 8px;
  }
  nav.mainNav > a.logotype.mobile{
    position: absolute;
    left: 50%;
    translate: -50%;
    scale: 140%;
  }
  nav.mainNav ul.mainNav li a.active:not(:has(img))::after{
    content:"";
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 7.5px;
    width:calc(100% - 15px);
    height: 3.5px;
    z-index: -1;
    background: #0a0707;
    border-radius: 8px;
    transition: all 200ms;
  }

  nav.mainNav ul.mainNav li a.active:hover:not(:has(img))::after, nav.mainNav ul.mainNav li a.active:focus-visible:not(:has(img))::after{
    bottom: -0.2rem;
  }

  nav.mainNav ul.mainNav li a:not(:has(img))::before {
    opacity: 0;
    content:"";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #0000000f;
    border-radius: 8px;
    transition: opacity 250ms;
  }
  nav.mainNav ul.mainNav li a:hover:not(:has(img))::before,nav.mainNav ul.mainNav li a:focus-visible:not(:has(img))::before{
    opacity: 1;
  }

  nav.mainNav ul.mainNav li img, nav.mainNav .logotype img{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    height: 100%;
    box-shadow: 0px 3px 4px 2px #0000000d;
    border-radius: 100vmax;
  }

  #right{
    float: right;
  }
  nav.mainNav .MobileSideBar{
    --bar-height: 3px;
    --bar-width: 27px;
    --bar-gap: 3px;
    --foreground:#000;
    --menuBtn-height: calc(var(--bar-height)*3 + var(--bar-gap)*2);
    --x-width:calc(var(--menuBtn-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--bar-gap);
    width: var(--bar-width);
    cursor: pointer;
    transition: opacity 100ms;
  }
  nav.mainNav .MobileSideBar:hover{
    opacity: 0.7;
  }
  
  nav.mainNav .MobileSideBar::after,
  nav.mainNav .MobileSideBar::before,
  nav.mainNav .MobileSideBar input{
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 100vmax;
    transition: all var(--normal-inimation-speed) ease-in-out;
    transform-origin: left center;
  }
  nav.mainNav .MobileSideBar input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  nav.mainNav .MobileSideBar input:checked{
    opacity: 0;
    width: 0;
    translate: -10px;
  }

  nav.mainNav .MobileSideBar:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }
  nav.mainNav .MobileSideBar:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  aside#NavSidebar{
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background: var(--sub-transparent-bg);
    -webkit-backdrop-filter: saturate(180%) blur(9px);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 14;
    transition: all var(--long-inimation-speed) ease;
    translate: 0 calc(-100% - 56px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  
  #root:has(.mainNav .MobileSideBar input:checked) #NavSidebar{
    translate: 0 0;
  }

  aside#NavSidebar ul#LinkBar{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  aside#NavSidebar #LinkBar li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 5px;
    font-size: 1.7rem;
    outline: none;
  }

  aside#NavSidebar nav img{
    width: 100%;
    margin: 0 0 20px;
  }

aside#NavSidebar .socialLinks{
  list-style: none;
  display: flex;
  border-top: 1.5px solid #0000001f;
  padding-top: 10px;
  opacity: 0;
  transition: var(--normal-inimation-speed);
  transition-delay: 0;
  align-items: center;
}
aside#NavSidebar .socialLinks img{
  max-width: 70px;
  margin-right: auto;
}
aside#NavSidebar .socialLinks span{
 color: #000;
 text-decoration: none;
 padding: 5px;
 font-size: 1.5rem;
}
#root:has(.mainNav .MobileSideBar input:checked) aside#NavSidebar .socialLinks{
  opacity: 1;
  transition-delay: var(--long-inimation-speed);
}